doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    h1 マインスイーパー (5×5)
    p サーバーサイド（Pug）から配信されたゲーム画面です。地雷を避けてクリックしよう！
    div#board
    script(src="/script.js")